.galleryShot {
    width: 30%;
    height: 30%;
}

body {
    font-family: Arial Black;
}

.sb-logo {
    width: 3%;
    height: 3%;
    position: relative;
    display: block;
    top: 10px;
    left: 600px;
}

.itunes {
    width: 80%;
    height: 80%;
}

.soundcloud {
    width: 80%;
    height: 80%;
}

.spotify {
    width: 80%;
    height: 80%;
}

.main {
    width: 30%;
    height: 30%;
}

.side {
    width: 10%;
    height: 10%;
}

ul>li {
    list-style: none;
}

.removeLink {
    text-decoration: none;
}

#killColor {
    color: #1c1d1d;
}

.removeLink:visited {
    color: #1c1d1d;
}

.copyright {
    position: relative;
    display: block;
    text-align: center;
    bottom: -85px;
    left: 60px;
}

.mainBar {
    position: relative;
    display: block;
    top: 25px;
    text-align: center;
    text-transform: uppercase;
}

.brokeVideo {
    position: relative;
    display: block;
    width: 600px;
    height: 350px;
    top: 50px;
    left: 300px;
}

.services {
    position: relative;
    display: block;
    float: right;
    clear: both;
    bottom: 220px;
    right: 50px;
}

.otherImgs {
    position: relative;
    display: block;
    float: right;
    clear: both;
}