.galleryShot {
    width: 30%;
    height: 30%;
}

body {
    font-family: Arial Black;
}

.sb-logo {
    width: 3%;
    height: 3%;
    position: relative;
    display: block;
    top: 10px;
    left: 600px;
}

.galleryLogo {
    left: 720px;
}

.twitter {
    width: 80%;
    height: 80%;
}

.instagram {
    width: 80%;
    height: 80%;
}

.itunes {
    width: 80%;
    height: 80%;
}

.soundcloud {
    width: 80%;
    height: 80%;
}

.spotify {
    width: 80%;
    height: 80%;
}

.main {
    width: 30%;
    height: 30%;
}

ul>li {
    list-style: none;
}

.removeLink {
    text-decoration: none;
}

#killColor {
    color: #1c1d1d;
}

#killSecondColor {
    color: #1c1d1d;
}

.removeLink:visited {
    color: #1c1d1d;
}

.copyright {
    position: relative;
    display: block;
    text-align: center;
    bottom: -85px;
    left: -65px;
}

.mainBar {
    position: relative;
    display: block;
    top: 25px;
    text-align: center;
    text-transform: uppercase;
}

.brokeVideo {
    position: relative;
    display: block;
    width: 600px;
    height: 350px;
    top: 16px;
    left: 325px;
}

.services {
    position: relative;
    display: block;
    float: right;
    clear: both;
    bottom: 380px;
    right: 80px;
}

.social {
    position: relative;
    display: block;
    float: left;
    clear: both;
    bottom: 215px;
    left: 115px;
}

.otherImgs {
    position: relative;
    display: block;
    float: right;
    clear: both;
}

.carImg {
    width: 100%;
    height: 100%;
}

.albumPhoto {
    width: 60%;
    height: 60%;
    margin-top: 30px;
    margin-left: 195px;
}

#videoSecBroke {
    top: 30px;
    left: 320px;
}


/* iPhone 6 */

@media only screen and (min-width: 375px) and (max-width: 667px){

    .sb-logo {
        width: 8%;
        height: 8%;
        bottom: -50px;
        left: 270px;
    }

    .row .col.s3 {
        left: 80px;
    }

    .albumPhoto {
        margin-top: 0px;
        margin-left: 0px;
        position: relative;
        display: block;
        left: 110px;
        top: 60px;
    }

    .mainBar {
        top: 70px;
        font-size: 12px;
    }

    .brokeVideo {
        top: 150px;
        left: 0px;
    }

    .social {
        left: 100px;
    }

    .twitter, .instagram, .itunes, .soundcloud, .spotify {
        width: 70%;
        height: 70%;
    }

    .services, .social {
        position: relative;
        display: inline-block;
        float: none;
        clear: none;
        bottom: 0px;
        right: 0px;
        margin: auto;
    }

    .twitter{
        position: relative;
        display: block;
        top: 100px;
    }

    .instagram {
        position: relative;
        display: block;
        bottom: 24px;
        left: 40px;
        top: 75px;
    }

    .itunes {
        position: relative;
        display: block;
        top: 125px;
        left: 80px;
    }

    .soundcloud {
        position: relative;
        display: block;
        top: 100px;
        left: 120px;
    }

    .spotify {
        position: relative;
        display: block;
        top: 75px;
        left: 160px;
    }

    /* copyright */

    .copyright {
        bottom: 0px;
        top: 250px;
        left: 85px;
    }

    #responsiveBolt {
        left: 150px;
    }

    #videoSecBroke {
        top: 80px;
        left: 220px;
        width: 140px;
        height: 100px;
    }

    .videoCol {
        left: 140px;
    }

}

/* iPhone 5 */

@media only screen and (min-width: 320px) and (max-width: 568px){


.sb-logo {
    left: 270px;
}

.row .col.s3 {
    left: 80px;
    font-size: 16px;
    padding: 10px;
}

#killColor {
    margin-left: 5px;
}

.albumPhoto {
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
    display: block;
    top: 30px;
    left: 110px;
}

.brokeVideo {
    top: 150px;
    left: 0px;
}

.social {
    left: 100px;
}

.twitter, .instagram, .itunes, .soundcloud, .spotify {
    width: 70%;
    height: 70%;
}

.services, .social {
    position: relative;
    display: inline-block;
    float: none;
    clear: none;
    bottom: 0px;
    right: 0px;
    margin: auto;
}

.twitter{
    position: relative;
    display: block;
    top: 100px;
}

.instagram {
    position: relative;
    display: block;
    bottom: 24px;
    left: 40px;
    top: 75px;
}

.itunes {
    position: relative;
    display: block;
    top: 125px;
    left: 80px;
}

.soundcloud {
    position: relative;
    display: block;
    top: 100px;
    left: 120px;
}

.spotify {
    position: relative;
    display: block;
    top: 75px;
    left: 160px;
}

/* copyright */

.copyright {
    bottom: 0px;
    top: 250px;
    left: 85px;
}

#responsiveBolt {
    left: 150px;
}

#videoSecBroke {
    top: 80px;
    left: 220px;
    width: 140px;
    height: 100px;
}

.videoCol {
    left: 140px;
}

}